{% extends 'profil/base_iframe_app.html' %}

{% load thumbnail %}

{% block title %}Sugestie{% endblock %}

{% block tabs_menu %}
	<li><a href="{% url friends_friends %}">Znajomi</a></li>
	<li><a href="{% url friends_received_invitations %}">Otrzymane zaproszenia</a></li>
	<li class="pre"><a href="{% url friends_sent_invitations %}">Wysłane zaproszenia</a></li>
	<li class="last active"><a href="{% url import_contacts %}">Sugestie</a></li>
{% endblock %}

{% block content %}
{% if contacts %}
	<ul class="friendslist">
	{% for friend in contacts %}
		<li class='friendinfo'>
			<a class="pic parent" href="{{ friend.get_profile.get_absolute_url }}">
				{% thumbnail friend.get_profile.get_mugshot_url "80x80" crop="center" as im %}
				    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ friend.username }}" />
				{% endthumbnail %}
				<span class="overlay"></span>
			</a>
			<div class="info">
				<a class="username parent" href="{{ friend.get_profile.get_absolute_url }}">{{ friend.username }}</a>
				<span class="fullname">
				{% if friend.first_name %}
					{% if friend.get_profile.pokaz_imie == 'w' %}
						{{ friend.first_name }}
					{% endif %}
				{% endif %}
				{% if friend.last_name %}
					{% if friend.get_profile.pokaz_nazwisko == 'w' %}
						{{ friend.last_name }}
					{% endif %}
				{% endif %}
				</span>
				<span class="buttons">
					<a class="napisz button popup" href="{% url postman_write friend.username %}?next={% url profil_popup_message as next_url %}{{ next_url|urlencode }}">Napisz wiadomość</a>
					<a class="dodaj button popup" href="{% url friends_invite friend.username %}">Zaproś do znajomych</a>
				</span>
			</div>
		</li>
	{% endfor %}
	</ul>
{% else %}
	<p>Nie masz jeszcze żadnych sugestii znajomości w serwisie kinomaniak.pl</p>
{% endif %}
{% endblock %}